
{{> login-header}}
  <nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
  style="margin-top: 15px !important;"
> 
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons"> 
          <a href="/login" class="button is-light">Login</a>
        </div>
      </div>
    </div>
</nav>
<h1>welcome to</h1>
<img src="../public/img/miso-anime-logo.png" alt="miso logo">
<h2>Miso hbabababababababaababab</h2>
<p>You must be logged in to search</p>